<h1 id="headline">What I've Been Up To</h1>

<body>
  <div id="div">
    <p>
    </p>
  </div>
  <% @projects.each do |p| %>
    <div id="caption_details">
      <b><%= p.name %><b>
      <p class="project_caption"><%= p.caption %></p>
      See the repo on <a href="<%= p.link %>"><%= image_tag("icons8-github-104.png", style: "width:50px;height:50px;") %></a>
    </div>



  <div id="project_container">
    <h2 id="screenshot_header">Screenshots</h2>
    <h3 id="mobile_header">Mobile</h3>
    <div id="mobile_image_div">
      <% p.mobile_images.each do |mi| %>
      <%= image_tag mi.variant(resize: "400x400"), class: "m_img" %><br/ >
      <% end %>
    </div>

    <h3 id="desktop_header">Desktop</h3>
      <div id="destop_image_div" onclick="revealImage();">
        <% p.desktop_images.each do |di| %>
        <%= image_tag di.variant(resize: "500x500"), class: "d_img" %><br />
        <% end %>
    </div>
  </div>
  <% end %>

</body>
