<!DOCTYPE html>
<html>
  <head>
    <title>DbPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="logo">
    <%= link_to "DMB Web Development", root_path %>
  </div>
  <nav>
    <div id="nav_container">
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Github", "https://github.com/davidberko" %>
        <li>
          <%= link_to "Stack Overflow", "https://stackoverflow.com/users/10140583/dmberko11?tab=profile" %>
        </li>
        <li>
          <%= link_to "Resume/CV", "https://docs.google.com/document/d/1NNXNmKbanYayx5rqFgUpONAiOwxZ0JArbasewo2d5kE/edit?usp=sharing" %>
        </li>
        </li>
      </ul>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
